\!!!
\%html
\%head
\%title ApplicaionV3
\= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =&gt; true
\= javascript_include_tag 'application', 'data-turbolinks-track' =&gt; true
\= csrf_meta_tags
\%body
\= yield
